.Loader {
  width: 100%;
  text-align: center;
}

.loader-title {
  margin-top: 15px;
}

.preLoader {
  transform: rotate(90deg);
}

.stretch-viewport {
  height: calc(100vh - 60px - 60px - 8px - 29px)
}