.viewport-container {
	position: relative;
	display: block;
	margin: 0;
	width: 100%;
	min-height: calc(100vh - 65px);
}

.card {
  border-color: rgb(87, 104, 109);
}

.mdi-lg {
	font-size: 1.2em;
}

.mdi-xl {
	font-size: 1.1em;
	margin-right: 10px;
}

.card-title span{
	font-size: 1.75em;
}

button.dropdown-item:hover {
	cursor: pointer;
}

.breadcrumb-link:hover {
	cursor: pointer;
}

ol.breadcrumb {
	margin-bottom: 0;
}

.vis-network,
.vis-network canvas,
.graph-container,
.graph-container canvas {
	position: relative;
	display: block;
	height: auto;
	/* max-height: calc(100vh - 80px); */
	max-width: 100%;
	overflow: hidden;
	background-color: black;
}

.panel-1 {
	position: absolute;
	top: 1.2rem;
	left: 1.2rem;
	width: auto;
	height: auto;
	background-color: rgb(54,60,66);
	z-index: 100;
}

.panel-2 {
	position: absolute;
	top: calc(20vh);
	right: calc(20vw);
	width: 400px;
	height: auto;
	background-color: rgb(54,60,66);
	z-index: 100;	
}

