body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.viewport-container {
	position: relative;
	display: block;
	margin: 0;
	width: 100%;
	min-height: calc(100vh - 65px - 65px);
	background-color: rgb(122, 161, 172);
}

.card {
  border-color: rgb(87, 104, 109);
}

p.card-text {
	font-size: 1.2em;
}

.mdi-lg {
	font-size: 1.2em;
}

.mdi-xl {
	font-size: 1.1em;
	margin-right: 10px;
}

.card-title span{
	font-size: 1.75em;
}

button.dropdown-item:hover {
	cursor: pointer;
}

.breadcrumb-link:hover {
	cursor: pointer;
}

ol.breadcrumb {
	margin-bottom: 0;
}

.vis-network,
.vis-network canvas,
.graph-container,
.graph-container canvas {
	position: relative;
	display: block;
	height: auto;
	/* max-height: calc(100vh - 80px); */
	max-width: 100%;
	overflow: hidden;
	/* background-color: black; */
}

.panel-1 {
	position: absolute;
	top: 1.2rem;
	left: 1.2rem;
	width: auto;
	height: auto;
	background-color: rgb(54,60,66);
	z-index: 100;
}

.panel-2 {
	position: absolute;
	top: calc(20vh);
	right: calc(20vw);
	width: 400px;
	height: auto;
	background-color: rgb(54,60,66);
	z-index: 100;	
}

